* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
text-align: center;
margin-top:20px;
background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position:relative;
z-index:1;

}
.body::after {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background-color: black;
    opacity:0.2;
    z-index:-1;
   
}


img {
    width:35vw;
    height:40vh;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  
}
h3 {
    color:#a52a2a;
    padding:15px;
    font-size: 1.5em;
}

button {
    padding:10px;
    width:6rem;
    height:3rem;
    font-size:20px;
    border-radius: 5px;
    background-color:#e7e5e5;
    border-color:#808080;
    margin-bottom: 40px;
    justify-content: center;
    text-align: center;

}

#computer-choice, #player-choice, #result {
    color:#000;
}

